<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <ul>
            <li><a href="{{ url('account-logout') }}">Logout</a></li>
            <li><a href="{{ url('account-homepage') }}">Home</a></li>
            <li><a href="{{ url('account-add-user') }}">Add user</a></li>
        </ul>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

    </body>
</html>
