{% extends 'Account/base.html.twig' %}

{% block body %}
    <h2>Create smart invite</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block title %}
create smart invite
{% endblock %}

