{% extends 'Account/base.html.twig' %}

{% block body %}
    <div>
        Users
        <ol>
        {% for account_user in account_users %}
            <li>
                {{ account_user.objectId }} |
                {{ account_user.user.email }} |
                <a href="{{ url('account-edit-user', {'objectId': account_user.objectId}) }}">edit</a> |
                <a href="{{ url('account-delete-user', {'objectId': account_user.objectId}) }}">delete</a>
            </li>
        {% endfor %}
        </ol>
    </div>
{% endblock %}

{% block title %}
My Account
{% endblock %}

