{% extends 'base.html.twig' %}

{% block body %}

    <h2>Authenticate</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}

{% block title %}
    Edit user
{% endblock %}

