<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <a href="{{ path('account-login') }}">Login</a>
        <a href="{{ path('account-register') }}">Register</a>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
